@media (min-width: 600px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }

    .site-header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .main-nav {
        margin-top: 0;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #menu-toggle {
        display: none;
    }

    .nav-list a:hover {
        background-color: transparent;
        text-decoration: underline;
        color: var(--beige);
    }

}

@media (min-width: 800px) {
    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #menu-toggle {
        display: none;
    }

    .nav-list a:hover {
        background-color: transparent;
        text-decoration: underline;
        color: var(--beige);
    }
}

