* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header span {
    display: block;
}

nav {
    padding: 1rem;
    background-color: #a1c8ff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    padding: 10px;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #242424;

}

nav a:hover {
	text-decoration: overline;
}

body {
    font-family: 'Tinos';
    background-color: #f0f0f0;
}

header {
    background-color: #f0f0f0;
    color: #000000;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

footer {
    background-color: #193a68fc;
    color: #ccc;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

footer p {
    margin: 5px 0;
}

main {
    display: grid;
    grid-template: auto 1fr auto/ auto 1fr auto;
    justify-content: center;
}

.content-grid {
    width: 100%;
            display: grid;
            grid-template-columns: 2fr 1fr; /* About Me wider than Resources */
            gap: 20px;
}

main img {
    width: 200px;
    height: auto;
    padding: 1px;
    box-shadow: 3px 5px 10px #a1c8ff;
}

h1 {
    width: 100%;
}