@media (min-width: 600px) {
    main div{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 800px) {
    main div{
        grid-template-columns: 1fr 1fr 1fr;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .navigation li {
        display: block;
    }

    .navigation a {
        display: block;

    }

    nav h1 {
        font-size: 2.5rem;
    }
}

